.Skill{
    background-color: #353d41;
    height: auto;
}
.skill-slide-inside{
    display: none;
}
.skill-slide-inside{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.skill-slide:hover .skill-slide-inside{
    display: block;
    opacity: 1;
}
.Skill div{
    border-radius: 12px;
}
#skillpart{
    height: 150vh;
    display: contents;
    justify-content: center;
}
.box {
    width: 300px;
    margin: 50px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
  }
.detailProject:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    bottom: -16px;
}
@media (min-width: 450px) {
    #skill #skillpart{
        height: 80vh;
    }
}